{% extends 'main.html' %}

{% block content %}
<style>

.back-btn {
      /* position: absolute; */
      left: 50px; /* Adjust the right position as needed */
      border-radius: 10px;
      background-color: rgba(49, 169, 221, 0.86);
    }

    /* Center the content */
    .content-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 50vh; /* Adjust this as needed for the desired vertical centering */
        text-align: center;
    }

    .content-box {
        background-color: rgba(136, 190, 212, 0.49);
        border: 1px solid #ddd;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    h1 {
        font-size: 2.5rem;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;

    }

    h3 {
        font-size: 1.2rem;
        margin-bottom: 20px;
        font-family: 'Times New Roman', Times, serif;
    }

    a {
        text-decoration: none;
        color: #007BFF;
    }

    .start-btn {
        background-color: rgba(49, 169, 221, 0.86);
        color: #000000;
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        font-size: 1.2rem;
        font-family: 'Times New Roman', Times, serif;
    }

    button:hover {
        background-color: #0056b3;
    }
</style>
        <a href="{% url 'home' %}">
            <button class="back-btn">Back</button>
        </a>

<div class="content-container">
    <div class="content-box">
        <h1>Quiz</h1>

        <h3>Are you ready to put your knowledge to the test?<br>Let's begin the quiz and see how well you've mastered the language!</h3>

        <a href="{% url 'mixmatch' %}">
            <button class="start-btn">Start</button>
        </a>
    </div>
</div>
{% endblock content %}
