{% extends 'main.html' %} {% block content %}
<h1>Translator Template</h1>
<a href="{% url 'home' %}">Back</a>
<hr>
<div>
  <form method="post">
    {% csrf_token %}
    <p>Choose Language</p>

    <br />
    <select required name="fromlanguage">
      <option value="en">English</option>
      <option value="fr">French</option>
      <option value="es">Spanish</option>
      <option value="de">German</option>
      <option value="it">Italian</option>

      <option value="zh">Chinese</option>
      <option value="ig">Igbo</option>
      <option value="yo">Yoruba</option>
    </select>
    <br />

    <label for="django">Enter Text:</label>
    <br />
    <textarea
      onChange=""
      id="translate"
      name="translate"
      placeholder="Enter your text here"
      rows="10"
      cols="70"
    ></textarea>

    <br /><br />
    <select required name="tolanguage">
      <option value="fr">French</option>
      <option value="es">Spanish</option>
      <option value="de">German</option>
      <option value="it">Italian</option>
      <option value="en">English</option>
      <option value="zh-CN">Chinese</option>
      <option value="th">Thai</option>
      <option value="ms">Malay</option>
    </select>
    <br />
    <br />
    <button id="btn" type="submit">Translate</button>
  </form>

  <br />

  <div>
    <h4>Translated:</h4>
    <p>{{translation}}</p>
  </div>

  <div>
    <h4>Translation History:</h4>
    <ul>
      {% for history_record in translation_history %}
        <li>
          <p>Source Text: {{history_record.source_text }}</p>
          <p>Translated Text: {{history_record.trans_text }}</p>

        </li>
      {% empty %}
        <p>No translation history</p>
      {% endfor %}
    </ul>
  </div>


</div>

{% endblock content %}
