{% extends 'main.html' %} {% load static %} {% block content %}
<style>

.back-btn {
  position: absolute;
  right: 50px; /* Adjust the right position as needed */
  top: 150px;
  border-radius: 10px;
  border: none;
  background-color: rgba(133, 201, 231, 0.86);
}

  .flex-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 70vh;
  }

  .flex-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    max-width: 400px; /* Adjust the maximum width for larger items */
  }

  .logo-image {
    max-width: 100%;
    height: auto;
  }

  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .flex-item {
      flex: 0 0 100%;
    }
  }
</style>

<h1 >Learning Modules</h1>
<a href="{% url 'home' %} ">
  <button class="back-btn">Back</button>
</a>

<div class="flex-container">
  <div class="flex-item">
     <a href="{% url 'vocabulary' %}" style="text-decoration: none; color: black">
    <img
      src="{% static 'vocabularyModule.png' %}"
      class="logo-image"
      alt="Vocabulary"
    />
   <h3>Vocabulary</h3></a
    >
  </div>
  <div class="flex-item">
     <a href="{% url 'scenariobased' %}" style="text-decoration: none; color: black">
    <img src="{% static 'scenarioBasedModule.png' %}" class="logo-image" alt="Scenario Based"/>
   <h3>Scenario Based</h3></a
    >
  </div>
</div>


{% endblock content %}
