{% extends 'main.html' %}
{% load static %}

{% block content %}
    <h1>Learning Module Template</h1>
    <a href="{% url 'home' %}">Back</a>

    <hr> 

    <div class="flex-container">
        <div class="flex-item">
            <img src="{% static 'vocabularyModule.png' %}" class="logo-img" alt="Vocabulary" />
            <a href="{% url 'vocabulary' %}"><h3>Vobulary</h3></a>
        </div>
        <div class="flex-item">
            <img src="{% static 'scenarioBasedModule.png' %}" class="logo-img" alt="Scenario Based" />
            <a href="{% url 'scenariobased' %}"><h3>Scenario Based</h3></a>
        </div>
       
    </div>
   

    {% endblock content %}

