{% extends 'main.html' %} {% load static %} {% block content %}
<style>
  .back-btn {
  position: absolute;
  right: 50px; /* Adjust the right position as needed */
  top: 150px;
  border-radius: 10px;
  border: none;
  background-color: rgba(133, 201, 231, 0.86);
}
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .flex-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .flex-item {
    flex: 1;
    text-align: center;
    padding: 20px;
    max-width: 1000px; /* Adjust the maximum width for larger items */
  }

  .logo-img {
    max-width: 100%;
    height: auto;
  }

  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .flex-item {
      flex: 001 calc(50% - 20px);
      margin: 10px; /* Add margin for spacing between items */
    }
  }
</style>
<h1>Scenario Based Dialogs</h1>
<a href="{% url 'learningmodule' %}">
    <button class="back-btn">Back</button>
</a>

<br>
<div class="flex-container">
  <div class="flex-row">
    <div class="flex-item">
       <a href="{% url 'pharmacy' %}" style="text-decoration: none; color: black">
      <img src="{% static 'pharmacy.png' %}" class="logo-img" alt="Pharmacy" />
     <h3>Pharmacy</h3>
    </a>
    </div>
    <div class="flex-item">
      <a href="{% url 'restaurant' %}" style="text-decoration: none; color: black">
      <img src="{% static 'restaurant.png' %}" class="logo-img" alt="Restaurant"/>
        <h3>Restaurant</h3>
      </a>
    </div>
    <div class="flex-item">
      <a href="{% url 'airport' %}" style="text-decoration: none; color: black">
      <img src="{% static 'airport.png' %}" class="logo-img" alt="Airport" />
        <h3>Airport</h3>
      </a>
    </div>
  </div>
  <div class="flex-row">
    <div class="flex-item">
      <a href="{% url 'teatime' %}" style="text-decoration: none; color: black">
      <img src="{% static 'cafe.png' %}" class="logo-img" alt="Cafe" />
        <h3>Tea Time</h3>
      </a>
    </div>
    <div class="flex-item">
      <a href="{% url 'transportation' %}" style="text-decoration: none; color: black">
      <img src="{% static 'transportation.png' %}" class="logo-img" alt="Transportation"/>
        <h3>Transportation</h3>
      </a>
    </div>
    <div class="flex-item">
      <a href="{% url 'directions' %}" style="text-decoration: none; color: black">
      <img src="{% static 'directions.png' %}" class="logo-img" alt="Directions"/>
        <h3>Directions</h3>
      </a>
    </div>
  </div>
</div>


{% endblock content %}
