
/* --------Main Template-------------- */
/* .logo-img{
  max-width: 1000%;
  max-height: 50%
}

.logo{
    display: flex;
    flex-wrap: wrap;
}

.logo img {
  height: 100px;
  width: auto;
}

.logo-name > h1{
    padding-top: 40px;
    padding-left: 10px;
    text-decoration: none;
    color: black;
} */


/* ------Home Page------------ */


/* ------flashcard----- */


 /* Add these styles to control the flip animation */
 .card {
  width: 200px;
  height: 200px;
  perspective: 1000px;
  display: inline-block;
  margin: 5px;
}

.card-flip {
  transform-style: preserve-3d;
  transition: transform 0.5s;
  width: 100%;
  height: 100%;
}

.card.flipped .card-flip {
  transform: rotateY(180deg);
}

.front,
.back {
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.back {
  transform: rotateY(180deg);
}


/* Sidebar Styles */
#sidebar {
  min-width: 250px;
  max-width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: auto; /* Remove the "right" property and use "left: auto" */
  right: -250px; /* Adjust to hide the sidebar on the right */
  overflow-y: auto;
  transition: right 0.3s ease-in-out; /* Change "left" to "right" */
  z-index: 1000;
}

#sidebar.active {
  right: 0; /* Change "left" to "right" */
}

#sidebar .sidebar-heading {
  padding: 20px;
  text-align: center;
}

#sidebar ul.components {
  padding: 0;
}

#sidebar ul.components li {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #d3d3d3;
}

#sidebar ul.components li:last-child {
  border-bottom: none;
}

#sidebar a.btn-toggle {
  text-decoration: none;
  display: block;
  padding: 10px;
  color: #333;
  transition: background 0.3s;
}

#sidebar a.btn-toggle:hover {
  background: #f8f9fa;
}

/* Overlay Styles */
#overlay {
  display: none;
  position: fixed;
  top: 0;
  left: auto; /* Remove the "right" property and use "left: auto" */
  right: 0; /* Change "left" to "right" */
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 100;
}

/* Active class for the active link */
#sidebar .active a {
  background: #f8f9fa;
}

/* Burger Menu Styles */
.burger-menu {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 1000;
  cursor: pointer;
  width: 30px;
  height: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.bar {
  width: 100%;
  height: 4px;
  background-color: #333;
  transition: transform 0.3s, opacity 0.3s;
}

/* Transition to "X" shape when menu is open */
.burger-menu.open .bar:nth-child(1) {
  transform: translateY(6px) rotate(45deg);
}

.burger-menu.open .bar:nth-child(2) {
  opacity: 0;
}

.burger-menu.open .bar:nth-child(3) {
  transform: translateY(-6px) rotate(-45deg);
}





/* Additional styling as needed for links, submenus, etc. */
