{% extends 'main.html' %}
{% load static %}
{% block content %}
<div class="home-container">
  <div class="flex-container">
    <div class="flex-item">
      <img src="{% static 'learningModule.png' %}" class="logo-img" alt="Learning Module">
      <a href="{% url 'learningmodule' %}"><h3>Learning Module</h3></a>
    </div>
    <div class="flex-item">
      <img src="{% static 'translatorModule.png' %}" class="logo-img" alt="Translator">
      <a href="{% url 'translator' %}"><h3>Translator</h3></a>
    </div>
    <div class="flex-item">
      <img src="{% static 'slangDictionaryModule.png' %}" class="logo-img" alt="Slang Dictionary">
      <a href="{% url 'slangdictionary' %}"><h3>Slang Dictionary</h3></a>
    </div>
    <div class="flex-item">
      <img src="{% static 'quizModule.png' %}" class="logo-img" alt="Quiz">
      <a href="{% url 'quiz' %}"><h3>Quiz</h3></a>
    </div>
  </div>
</div>

<style>
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }

  .flex-item {
    flex: 1;
    padding: 10px;
    text-align: center;
    margin: 10px;
    width: 300px; /* Adjust the width for larger items */
  }

  .logo-img {
    max-width: 100%;
    height: auto;
    max-height: 200px; /* Adjust the maximum height for larger items */
  }

  /* Media query for screens smaller than 768px */
  @media (max-width: 768px) {
    .flex-item {
      flex: 0 0 100%;
      width: 100%; /* Adjust the width for smaller screens */
    }
  }
</style>
{% endblock content %}
