{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container {
        display: grid;
        grid-template-columns: 3fr 1fr;
        gap: 20px; /* Add some space between the columns */
    }

    .profile-details {
        background-color: #f5f5f5; /* Light gray background */
        padding: 20px;
        border-radius: 10px;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
        margin: 10px 0;
    }

    .save-button {
        background-color: #007bff; /* Blue button background */
        color: #fff; /* White text color */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .save-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
</style>

<h1>Profile Template</h1>

<div class="profile-container">
    <div class="profile-details">
        <h1>Hello {{user.username}}</h1>
        <h3>Profile Picture</h3>
        <h3>Full Name: {{user.username}}</h3>
        <h3>Username: {{user.username}}</h3>
        <h3>Password: *********</h3> <!-- For security reasons, don't display the actual password -->
        <h3>Re-confirm Password: *********</h3> <!-- For security reasons, don't display the actual password -->
        <h3>Email Address: {{user.email}}</h3>

        <input type="submit" value="Save Changes" class="save-button">
    </div>
</div>

{% endblock content %}
