{% extends 'main.html' %}

{% block content %}

<style>
    .profile-container {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height:500px
    }

    .profile-details {
        background-color: rgba(136, 190, 212, 0.49);
        padding: 20px;
        width: 100%;
        height: 100%;
        border-radius: 10px;
        text-align: center;
    }

    h1 {
        font-size: 24px;
    }

    h3 {
        font-size: 16px;
        margin: 10px 0;
    }

    .save-button {
        background-color: #007bff; /* Blue button background */
        color: #fff; /* White text color */
        padding: 10px 20px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
    }

    .save-button:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }
</style>



<div class="profile-container"> 
    
    <div class="profile-details">
       <h1>User Profile</h1>
        <h3>Hello {{user.username}}</h3>
    
        <hr>
        <div>
            <p>Profile Picture</p>
        <p>Username: {{user.username}}</p>
        <p>Email Address: {{user.email}}</p>
        </div>
        
    </div>
</div>

{% endblock content %}
