{% extends 'main.html' %}

{% block content %}

<style>
  .back-btn {
    position: absolute;
      right: 100px; /* Adjust the right position as needed */
      top: 150px;
      border-radius: 10px;
      border: none;
      background-color: rgba(133, 201, 231, 0.86);
    }
    
    .container{
      display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height:400px;
        position: relative;
        width: 100%;
        max-width: 500px;
        margin: 0 auto;
        background-color: rgba(136, 190, 212, 0.49);
        margin-top: 100px;

    }

    .layout__boxTitle{
      justify-content: center;
      top: 10px;
    }

    .form__group{
      margin: 10px;
    }

    .cancel-btn, .update-btn{
      background-color: #007bff; /* Blue button background */
        color: #fff; /* White text color */
        padding: 10px;
        border: none;
        border-radius: 5px;
        cursor: pointer;
        text-decoration: none;
        position: relative;
        bottom: 0;
        height: 40px;
        justify-content: center;
        align-items: center;
    }

    .cancel-btn:hover, .update-btn:hover {
        background-color: #0056b3; /* Darker blue on hover */
    }


</style>
          <a href="{% url 'profile' %}"> <button class="back-btn">Back</button></a>

  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Edit your profile</h3>
        </div>
        <br>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            
          {% for field in form %}
          <div class="form__group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
          </div> 
          {% endfor %}
<br>
          <div class="form__action">
            <button class="cancel-btn" href="{% url 'profile' %}">Cancel</button>
            <button class="update-btn" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock content %}