{% extends 'main.html' %}

{% block content %}

<style>
  .back-btn {
      /* position: absolute; */
      left: 50px; /* Adjust the right position as needed */
      border-radius: 10px;
      background-color: rgba(49, 169, 221, 0.86);
    }
    
    .container{
      display: flex;
        justify-content: center;
        align-items: center;
        padding: 20px;
        height:500px;
        background-color:aqua;
    }

    .layout__boxTitle{
      justify-content: center;
      top: 10px;
    }

    .form__group{
      margin: 10px;
    }

</style>
          <a href="{% url 'profile' %}"> <button class="back-btn">Back</button></a>

  <div class="container">
    <div class="layout__box">
      <div class="layout__boxHeader">
        <div class="layout__boxTitle">
          <h3>Edit your profile</h3>
        </div>
        <br>
      </div>
      <div class="layout__body">
        <form class="form" action="" method="POST" enctype="multipart/form-data">
          {% csrf_token %}
            
          {% for field in form %}
          <div class="form__group">
            <label for="profile_pic">{{field.label}}</label>
            {{field}}
          </div> 
          {% endfor %}

          <div class="form__action">
            <a class="btn btn--dark" href="{% url 'profile' %}">Cancel</a>
            <button class="btn btn--main" type="submit">Update</button>
          </div>
        </form>
      </div>
    </div>
  </div>
  </div>
</main>
{% endblock content %}